<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nwu.extra.mapper.ArticleMapper">
    <select id="getNumByDate" parameterType="String" resultType="Integer">
        SELECT count(1)
        FROM article
        WHERE date_format(gmt_create,'%Y-%m-%d')=#{myDate}
    </select>
</mapper>
